.icon-class-artificer{ background-image: url('../DND/class-artificer.svg');}
.icon-class-barbarian{ background-image: url('../DND/class-barbarian.svg');}
.icon-class-bard{ background-image: url('../DND/class-bard.svg');}
.icon-class-cleric{ background-image: url('../DND/class-cleric.svg');}
.icon-class-druid{ background-image: url('../DND/class-druid.svg');}
.icon-class-fighter{ background-image: url('../DND/class-fighter.svg');}
.icon-class-monk{ background-image: url('../DND/class-monk.svg');}
.icon-class-paladin{ background-image: url('../DND/class-paladin.svg');}
.icon-class-ranger{ background-image: url('../DND/class-ranger.svg');}
.icon-class-rogue{ background-image: url('../DND/class-rogue.svg');}
.icon-class-sorcerer{ background-image: url('../DND/class-sorcerer.svg');}
.icon-class-warlock{ background-image: url('../DND/class-warlock.svg');}
.icon-class-wizard{ background-image: url('../DND/class-wizard.svg');}
.icon-white-book-0{ background-image: url('../DND/white-book-0.png');}
.icon-white-book-1{ background-image: url('../DND/white-book-1.png');}
.icon-white-book-2{ background-image: url('../DND/white-book-2.png');}
.icon-white-book-3{ background-image: url('../DND/white-book-3.png');}
.icon-white-book-4{ background-image: url('../DND/white-book-4.png');}
.icon-white-book-5{ background-image: url('../DND/white-book-5.png');}
.icon-white-book-6{ background-image: url('../DND/white-book-6.png');}
.icon-white-book-7{ background-image: url('../DND/white-book-7.png');}
.icon-white-book-8{ background-image: url('../DND/white-book-8.png');}
.icon-white-book-9{ background-image: url('../DND/white-book-9.png');}
